body {
  margin: 0;
}

a {
  color: #232129;
}

a:hover {
  color: #fec514;
  text-decoration: none;
}

body {
  background: url('../images/background-website_01.jpg') -20.7rem -0.1rem no-repeat #fff;
  background-size: 'auto';
  color: #232129;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url('../images/background-website_02.jpg');
    background-color: #121212;
    color: #eee;
  }

  a {
    color: #fec514;
  }

  a:hover {
    color: #fec514;
    text-decoration: none;
  }
}
